<section ng-controller="ClientesController">
			<form ng-submit="GetClientbyLastName(ape)">
			<input type="text" ng-model="ape" required/>
			<input type="submit" class="btn btn-danger" value="enviar"/>
			</form>

<table class="table table-stripped table-responsive" ng-show="tablebusqueda">
		<thead>
				<tr>
					<th>Nombres</th>
					<th>Dni</th>
					<th>Direccion</th>
					<th>Telefono</th>
					<th>Celular</th>
					<th>Acciones</th>
				</tr>
		</thead>
		<tbody>
				<tr ng-repeat="item in cliente">
					<td>{{item.nombre_cliente}} {{item.ape_pat_cliente}} {{item.ape_mat_cliente}}</td>
					<td>{{item.dni_cliente}}</td>
					<td>{{item.direccion_cliente}}</td>
					<td>{{item.fijo_cliente}}</td>
					<td>{{item.celular_cliente}}</td>
					<td>{{item._id}}</td>
					<td><button class="btn btn-success" ng-click="findOneClient(item._id)">Seleccionar</button></td>
				</tr>
		</tbody>
</table>

<div ng-repeat="d in clientedata">
Cliente Seleccionado: {{d.nombre_cliente}} {{d.ape_pat_cliente}} {{d.ape_mat_cliente}}
</div>


</section>