<section>



<form ng-submit="GetClientbyLastName(ape)" ng-show="showbuscarcliente">

<div class="row">
	<div class="form-group">
  		<div class="col-md-12">
   			 <div class="input-group">
       		 <input type="text" class="form-control" placeholder="Buscar cliente" aria-describedby="basic-addon2" ng-model="ape" required>

     		 <div class="input-group-btn">
      			  <button type="button" ng-click="GetClientbyLastName(ape)" class="btn btn-default">
      	 		   Buscar
      		  </button>
     		</div>
     		</div> 
     		</div>
    </div>
  </div>

</form>


</section>





<!-- Esto debe cambiarse por una llamada a un layout -->
