<section ng-controller="ClientesController" >



<form ng-submit="GetClientbyLastName(ape)" ng-show="buscarcliente">

<div class="row">
	<div class="form-group">
  		<div class="col-md-12">
   			 <div class="input-group">
       		 <input type="text" class="form-control" placeholder="Buscar cliente" aria-describedby="basic-addon2" ng-model="ape" required>

     		 <div class="input-group-btn">
      			  <button type="button" ng-click="GetClientbyLastName(ape)" class="btn btn-default">
      	 		   Buscar
      		  </button>
 
     		</div>
     		</div> 
     		</div>
    </div>
  </div>

</form>





<table class="table table-stripped table-responsive" ng-show="tablebusqueda">
		<thead>
				<tr>
					<th>Nombres</th>
					<th>Dni</th>
					<th>Direccion</th>
					<th>Telefono</th>
					<th>Celular</th>
					<th>Acciones</th>
				</tr>
		</thead>
		<tbody>
				<tr ng-repeat="item in cliente">
					<td>{{item.nombre_cliente}} {{item.ape_pat_cliente}} {{item.ape_mat_cliente}}</td>
					<td>{{item.dni_cliente}}</td>
					<td>{{item.direccion_cliente}}</td>
					<td>{{item.fijo_cliente}}</td>
					<td>{{item.celular_cliente}}</td>
					<td><button class="btn btn-success" ng-click="findOneClient(item._id)">Seleccionar</button></td>
				</tr>
		</tbody>
</table>

<div ng-show="clientename">
Cliente Seleccionado: {{clientedata.nombre_cliente}} {{clientedata.ape_pat_cliente}} {{clientedata.ape_mat_cliente}}
</div>
</section>





<!-- Esto debe cambiarse por una llamada a un layout -->
