
<table class="table table-stripped table-responsive centrar" ng-controller="DetallesController">
		<thead>
				<tr>
					<th>Codigo</th>
					<th>Descripcion</th>
					<th>Cantidad</th>
					<th>Precio C/U</th>
					<th>Precio Facturado</th>
				</tr>
		</thead>
		<tbody>
				<tr ng-repeat="item in detallesxclientedashboard">
					<td>{{item.idproducto}}</td>
					<td>{{item.descripcionproducto}}</td>
					<td>{{item.cantidadproducto}}</td>
					<td>S/. {{item.precioproducto | number:2}}</td>
					<td class="negrita">S/. {{item.preciofacturado | number:2}} </td>

				</tr>
		</tbody>
</table>