<!DOCTYPE html>
<html>
<head>
	<!--Vendor Styles -->
	
	
<!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" href="/lib/maincss/main.css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link href="http://fabien-d.github.io/alertify.js/assets/js/lib/alertify/alertify.core.css" rel="stylesheet"/>
    <link href="http://fabien-d.github.io/alertify.js/assets/js/lib/alertify/alertify.default.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="/lib/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
   	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
    <link href="/lib/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/lib/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/lib/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="/lib/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="/lib/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/lib/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/lib/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="/lib/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="/lib/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/lib/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css" />


	<!-- Usar la propiedad 'title' para renderizar un título de página  -->
		<title><%= title %></title>
		</head>
		<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">




			 <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="/">
                        <img src="/lib/layouts/layout2/img/logo-default.png" alt="logo" class="logo-default" /> </a>
                    <div class="menu-toggler sidebar-toggler">
                        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN PAGE ACTIONS -->
                <!-- DOC: Remove "hide" class to enable the page header actions -->
               
                <!-- END PAGE ACTIONS -->
                <!-- BEGIN PAGE TOP -->
                <div class="page-top">
         
                    <!-- END HEADER SEARCH BOX -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <!-- BEGIN NOTIFICATION DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            
                   
                        
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            
                            <li class="dropdown dropdown-user" ng-controller="ClientesController">
                                <a href="http://www.facebook.com/" target="_blank" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="img-circle" src="/lib/layouts/layout2/img/avatar3_small.jpg" />
                                    <span class="username username-hide-on-mobile" ng-bind="authentication.user.fullName"></span>

                                     
   
                                   
                                </a>
                        
                              <!--  <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="page_user_profile_1.html">
                                            <i class="icon-user"></i> My Profile </a>
                                    </li>
                                    <li>
                                        <a href="app_calendar.html">
                                            <i class="icon-calendar"></i> My Calendar </a>
                                    </li>
                                    <li>
                                        <a href="app_inbox.html">
                                            <i class="icon-envelope-open"></i> My Inbox
                                            <span class="badge badge-danger"> 3 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="app_todo_2.html">
                                            <i class="icon-rocket"></i> My Tasks
                                            <span class="badge badge-success"> 7 </span>
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="page_user_lock_1.html">
                                            <i class="icon-lock"></i> Lock Screen </a>
                                    </li>
                                
                                    
                                    <li ng-show="authentication.user">
                                        <a href="/signout">
                                            <i class="icon-key"></i> Log Out </a>
                                    </li>

                                    <li ng-show="!authentication.user">
                                        <a href="/signin">
                                            <i class="icon-key"></i> Log In </a>

                                    </li>

                                </ul>-->
                            </li>

                            <!-- END USER LOGIN DROPDOWN -->
                            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li>
                                <a href="/signout">
                                <i class="icon-logout"></i>
                                </a>
                            </li>
                            <!-- END QUICK SIDEBAR TOGGLER -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END PAGE TOP -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
       
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- END SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item start active open">
                            <a href="/" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">Inicio</span>
                                
                            </a>
                        
                        </li>
                       <!-- <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-diamond"></i>
                                <span class="title">Mantenimiento</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                               
                        
                                <li class="nav-item  ">
                                    <a href="ui_datepaginator.html" class="nav-link ">
                                        <span class="title">Mantenimiento de clientes</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="ui_datepaginator.html" class="nav-link ">
                                        <span class="title">Mantenimiento de productos</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="ui_datepaginator.html" class="nav-link ">
                                        <span class="title">Mantenimiento de usuarios</span>
                                    </a>
                                </li>
                            </ul>
                        </li>-->
                        
            
                    </ul>
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
             
                    <div class="row">

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a class="dashboard-stat dashboard-stat-v2 blue" data-toggle="modal" data-target="#registrarcliente">
                                <div class="visual">
                                    <i class="icon-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        Clientes
                                        <!--<span data-counter="counterup" data-value="1349">0</span>-->
                                    </div>
                                    <div class="desc"> Registrar Cliente </div>


                                </div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a class="dashboard-stat dashboard-stat-v2 red" data-toggle="modal" data-target="#registrarventa">
                                <div class="visual">
                                    <i class="icon-money"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        Ventas
                                        <!--<span data-counter="counterup" data-value="12,5">0</span>-->
                                    </div>
                                    <div class="desc"> Nueva venta </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a class="dashboard-stat dashboard-stat-v2 green" data-toggle="modal" data-target="#gestionarpagos">
                                <div class="visual">
                                    <i class="icon-shopping-cart"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        Pagos:
                                        <!--<span data-counter="counterup" data-value="89"></span>-->

                                    </div>

                                    <div class="desc"> Gestionar Pagos </div>
                                </div>
                            </a>
                        </div>

                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a class="dashboard-stat dashboard-stat-v2 purple" href="#" data-toggle="modal" data-target="#reportes">
                                <div class="visual">
                                    <i class="icon-globe"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> Reportes
                                        <!--<span data-counter="counterup" data-value="89"></span>% --></div>
                                    <div class="desc"> Reportes por fechas </div>
                                </div>
                            </a>
                        </div>

                    </div>



                    <div class="clearfix"></div>
                    <!-- END DASHBOARD STATS 1-->
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <!-- BEGIN PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bar-chart font-dark hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">Ultimos 10 usuarios atendidos</span>
                                    </div>

                                     <div class="row">
                                        <div class="col-md-12">

                                           <div class="input-group">
                                                <input type="text" class="form-control input-sm" ng-model="apellido"/> 
                                                <div class="input-group-btn">
                                                <button type="button" ng-click="GetClientbyLastName(ape)" class="btn btn-default btn-sm">Filtrar</button>
                                                </div>
                                            </div>
                                         </div>
                                    </div>





                                </div>

                                <div class="portlet-body" ng-controller="BoletasController">
                                    <table class="table table-responsive table-striped centrar10" ng-init="getTopTen()">
                                        <thead>
                                            <tr class="headercenter">
                                                <th>N°</th>
                                                <th>Nombre</th>
                                                <th>Fecha</th>
                                                <th>Facturado</th>
                                                <th>Pagado</th>
                                                <th>Pendiente</th>
                                                <th>Ver</th> 
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in topten | filter:apellido">
                                                <td>{{item.idboleta}}</td>
                                                <td class="left">{{item.idcliente.nombre_cliente}} {{item.idcliente.ape_pat_cliente}}</td>
                                                <td>{{item.fecha_trans | date :  "dd/MM/y"}}</td>
                                                <td>S/. {{item.monto_facturado}}</td>
                                                <td>S/. {{item.monto_pagado}}</td>
                                                <td class="verde">S/. {{item.monto_facturado - item.monto_pagado | number:0}}</td>
                                                <td ng-controller="DetallesController">
                                                 <a ng-click="getDetailsForNumBoleta(item.idboleta)" role="button" data-toggle="modal" data-target="#detallesxcliente"><i class="icon-search"></i></a>
                                                </td>
                                               
                                            </tr>


                                        </tbody>


                                    </table>
                                </div>
                            </div>
                            <!-- END PORTLET-->
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <!-- BEGIN PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-share font-red-sunglo hide"></i>
                                    <span class="caption-subject font-dark bold uppercase">Últimos productos vendidos
                                    </div>
                              
                                    <div class="row">
                                        <div class="col-md-12">

                                           <div class="input-group">
                                                <input type="text" class="form-control input-sm" ng-model="items"/> 
                                                <div class="input-group-btn">
                                                <button type="button" ng-click="GetClientbyLastName(ape)" class="btn btn-default btn-sm">Filtrar</button>
                                                </div>
                                            </div>
                                         </div>
                                    </div>

                                         
                                   
                                
                                </div>
                                <div class="portlet-body" ng-controller="DetallesController">
                                    <table class="table table-responsive table-striped centrar10" ng-init="getTopTenDetails()">
                                        <thead>
                                            <tr class="headervisits">
                                                <th>Id Producto</th>
                                                <th>Nombre Producto</th>
                                                <th>Precio</th>
                                                <th>Cantidad</th>
                                                <th>Costo de venta</th>
                            
                                                
                                            
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in toptendetalles | filter:items">
                                                <td>{{item.idproducto}}</td>
                                                <td>{{item.descripcionproducto}}</td>
                                                <td>S/. {{item.precioproducto | number:2}}</td>
                                                <td>{{item.cantidadproducto}}</td>
                                                <td>S/. {{item.preciofacturado | number:2}}</td>
                                            </tr>


                                        </tbody>


                                    </table>
                                </div>
                            </div>
                            <!-- END PORTLET-->
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
           
            
            <!-- END QUICK SIDEBAR -->
        </div>


      
        <div ng-include="'/modals/modal-venta.client.view.html'"></div>
        
        <div ng-include="'/modals/modal-user-client.view.html'"></div>

        <div ng-include="'/modals/modal-cliente.client.view.html'"></div>

        <div ng-include="'/modals/modal-payments.client.view.html'"></div>

        <div ng-include="'/modals/modal-detailsperclient.client.view.html'"></div>

        <div ng-include="'/modals/modal-detailsdashboardclient.client.view.html'"></div>

        <div ng-include="'/modals/modal-reportes.client.view.html'"></div>


















	

    
    <script type="text/javascript">
    window.user = <%- user || 'null' %>;
    var a=window.user;
    if(a==null){
        console.log(a);
       window.location.href="/signin";
    }

    </script>

<!--vendor Scripts-->
<!-- BEGIN CORE PLUGINS -->
        <script src="/lib/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
         <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
         <script type="text/javascript" src="/lib/jquery/dist/jquery.datepicker-language-es.js"></script>
        <script src="/lib/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

        <script type="text/javascript" src="http://alasql.org/console/alasql.min.js"></script>
        <script type="text/javascript" src="http://alasql.org/console/xlsx.core.min.js"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/lib/global/plugins/moment.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/horizontal-timeline/horozontal-timeline.min.js" type="text/javascript"></script>
        
        <script type="text/javascript" src="http://files.tatedavies.com/alertify.min.js"></script>

        <script src="/lib/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
        <script src="/lib/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
<!-- vendor Scripts-->
		 <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/lib/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/lib/pages/scripts/dashboard.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="/lib/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/lib/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
        <script src="/lib/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->








<!-- Application Scripts -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>


	<script type="text/javascript" src="/articles/articles.client.module.js"></script>
    <script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
    <script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
    <script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>

    <script type="text/javascript" src="/distritos/distritos.client.module.js"></script>
    <script type="text/javascript" src="/distritos/services/distritos.client.service.js"></script>

    <script type="text/javascript" src="/clientes/clientes.client.module.js"></script>
    <script type="text/javascript" src="/clientes/controllers/clientes.client.controller.js"></script>
    <script type="text/javascript" src="/clientes/services/clientes.client.service.js"></script>
    <script type="text/javascript" src="/clientes/config/clientes.client.routes.js"></script>

    <script type="text/javascript" src="/pagos/pagos.client.module.js"></script>
    <script type="text/javascript" src="/pagos/services/pagos.client.service.js"></script>
    <script type="text/javascript" src="/pagos/controllers/pagos.client.controller.js"></script>


	<script type="text/javascript" src="/example/example.client.module.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<script type="text/javascript" src="/example/config/example.client.routes.js"></script>

	<script type="text/javascript" src="/boletas/boletas.client.module.js"></script>
    <script type="text/javascript" src="/boletas/controllers/boletas.client.controller.js"></script>
    <script type="text/javascript" src="/boletas/services/boletas.client.service.js"></script>

    <script type="text/javascript" src="/detalles/detalles.client.module.js"></script>
    <script type="text/javascript" src="/detalles/controllers/detalles.client.controller.js"></script>
    <script type="text/javascript" src="/detalles/services/detalles.client.service.js"></script>

    
   

	<script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
	<script type="text/javascript" src="/application.js"></script>
<!-- Application scripts -->








</body>
</html>
